
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: monospace;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* ----------MODAL----------- */
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    height: 300px;
    border: 1px solid rgb(0, 0, 0);
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #ffbb00;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
 

  /**FIN MODAL*/

  /* Style enregistrement */

  .label-register{
      font-size: 56px;
  }

  .input-register{
        height: 60px;
        font-size: 56px;

  }
 .btn-register{
    padding: 30px;
    margin: 12px;
    height: 100px;    
    font-size: 35px;
        
 }



h1{
    margin: 120px;
    font-size: 50px;
}

h2{
    font-size: 45px;
    text-align: center;
}


.containerHeroes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}
.imageHeroes{
    margin: 15px;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);    
}
.container-btn{
    display: flex;
    justify-content: center;
}
.btnValider{
   height: 100px;
   width: 250px;
   font-size: 30px;
   margin-top: 30px;
}

/*Progress Bar**/
.h2-loading{
    font-size: 70px;
}
#myProgress {   
     margin: 300px 1500px ;
    width: 50%;
    background-color: rgb(255, 115, 0);
  }
  
  #myBar {
    width: 1%;
    height: 150px;
    background-color: rgb(0, 0, 0);
  }
  /*FIN DE PROGRESS BAR**/

.sous-container{
    margin-top: 150px;
    height: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


p{
    font-size: 35px;
}
.choice{
     height: 500px;
     width: 500px;     
         
}
.perso-user{
            margin-top: 100px;
            height: 1000px;
            width: 1000px;
     }


.competence{
         display: flex;       
         flex-direction: column;
         justify-content: space-between;
         
         
     }     
.text-comp{
         margin: 50px;             
     }     

.btn-container{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    margin: 240px;
    
}
hr{
    margin-top: 120px;
}
button{
    padding: 30px;
    margin: 12px;
    height: 120px;
    width: auto;
    font-size: 35px;
}

.history-container{
   
    

}
.chambre{
            margin-top: 50px;
            height: 1000px;
            width: 1000px;
}
.text-history{
    width: 600px;
}

.lose{
  text-align: center;
  color: #000;
  font-size: 150px;
}

.competenceMonstre{
  margin: 50px;
}